{% extends 'all-news/base.html' %}

    {% block content %}

    <div class="container">


        <div class="row">
                <h1 class="text-center">{{article.title}}</h1>
        </div>

        <hr>

        <div class="row">
            <img src="{{ article.article_image.url}}" alt="" class="img-responsive">
        </div>

        <br><hr>

        <div class="row">
            {% autoescape on %}
            {{article.post| safe}}
           {% endautoescape %}
        </div>

        <br><hr>

        <div class="row">
            <p>Posted {{ article.pub_date|timesince }} ago by {{article.editor }}</p>
        </div>

    </div>


    {% endblock %}